body {
  font-family: 'Arial', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: #282c34;
  color: #fff;
}

.container {
  text-align: center;
}

h1 {
  font-size: 3.5rem;
  margin-bottom: 20px;
  color: #61dafb;
}

.score {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

p {
  margin: 0;
}

.options {
  display: flex;
  justify-content: center;
}

button {
  margin: 0 10px;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  background: #61dafb;
  color: #282c34;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

element.style {
  height: 6rem;
}

button:hover {
  background-color: #45aaf2;
}

button img {
  max-width: 60px;
  height: auto;
}

#result {
  font-size: 20px;
  margin-top: 20px;
}

@keyframes cambioDeColor {
  0% { color: #ff0000; }
  10% { color: #00ff00; }
  20% { color: #0000ff; }
  35% { color: #ff00ff; }
  40% { color: #e5ff00; }
  50% { color: #ff9100; }
  60% { color: #0d00ff; }
  70% { color: #00ffd5; }
  80% { color: #ff00b3; }
  90% { color: #00d9ff; }
  100% { color: #13cb76; }
}
